name: Build

on:
  push:
  pull_request:
    types: [opened, reopened, edited]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-kernel:
    runs-on: ubuntu-latest
    steps:
      - name: Free up space (1)
        run: find /opt/ -maxdepth 1 -mindepth 1 '!' -path /opt/containerd '!' -path /opt/actionarchivecache '!' -path /opt/runner '!' -path /opt/runner-cache -exec echo Deleting '{}' ';' -exec rm -rf '{}' ';'
      - name: Free up space (2)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: true
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get current tag
        if: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
        run: echo "current_tag=$(git describe --tags --abbrev=0 --exact-match 2>/dev/null || echo '')" >> $GITHUB_ENV
      - name: Get previous tag
        if: ${{ env.current_tag }}
        run: echo "previous_tag=$(git describe --tags --abbrev=0 ${{ env.current_tag }}^ 2>/dev/null || echo '')" >> $GITHUB_ENV
      - name: Generate changelog
        id: changelog
        uses: jaywcjlove/changelog-generator@main
        if: ${{ env.current_tag && env.previous_tag }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build docker image
        run: docker build . -t charcoal
      - name: Set up SWAP space
        run: |
          fallocate -l 16G /mnt/charcoal-swap.img
          chmod 0600 /mnt/charcoal-swap.img
          mkswap /mnt/charcoal-swap.img
          swapon /mnt/charcoal-swap.img
      - name: Build Kernel
        run: |
          docker run --rm -v ${PWD}:/project charcoal chown -R nobody /project
          docker run --rm -v ${PWD}:/project charcoal sudo -u nobody makepkg -Ccf
      - name: Upload Artifacts
        if: ${{ ! env.current_tag }}
        uses: actions/upload-artifact@v4
        with:
          name: linux-charcoal
          path: linux-charcoal-*.pkg.tar.zst
          if-no-files-found: warn
      - name: Publish release
        if: ${{ env.current_tag }}
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ env.current_tag }}
          name: ${{ env.current_tag }}
          token: ${{ secrets.GITHUB_TOKEN }}
          artifactErrorsFailBuild: true
          artifactContentType: application/zstd
          body: ${{ steps.changelog.outputs.changelog }}
          artifacts: linux-charcoal-*.pkg.tar.zst
